@media (max-width: 1160px){
    .navbar-collapse .navbar-left li {padding-left: 100px}
.navbar-collapse .navbar-right li {padding-right: 70px}
}
@media (max-width: 1000px){
    .navbar-collapse .navbar-left li {padding-left: 60px}
.navbar-collapse .navbar-right li {padding-right: 30px}
  .content {
    padding: 20% 0 0;
    }

.container {
    width: 100%;
}
.s-about h2 {
    height: 125px;
    margin-top: 42px;
    font-size: 21px;
}
.s-about p {
    font-size: 16px;
}

}
@media (max-width: 840px){
    .navbar-collapse .navbar-left li {padding-left: 0px}
.navbar-collapse .navbar-right li {padding-right: 0px}
}

@media (max-width: 768px){
    #mp-about,#mp-features {
            padding-top: 0px;
            margin-bottom: 0
    }
    .s-about h2 {

    font-size: 28px;
}
.s-about p {
    font-size: 21px;
}
#mp-about .container .col-sm-4 {
        width: 400px;
    margin: 70px auto 0;
}
    .navbar-nav > li > a {
        text-align: center;
    }
  .content {
    padding: 200px 0 0;
    }
#navbar-collapse {
    height: 200px !important;
    width: 220px;
    float: right;
}
.navbar-collapse .navbar-left li {
    padding-left:0px;
}
#mp-menu.navbar-default .navbar-nav  {
    background: #E84543
}
.navbar-brand {
    margin-top: -40px;
}
.on .navbar-brand {
    margin-top: -75px;
}
.on .navbar-brand>img{
    height: 75px;
}
.navbar-header .navbar-toggle {
        margin-top: -45px;
}
}

@media (max-width: 603px){
#tf-menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.79);
	}
#tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}